[run]
source = tools
branch = True
omit =
    tools/vscode-project-xml/*
    tools/templates/*
    tools/ai/intents/*
    tools/ai/schemas/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    raise NotImplementedError
precision = 1
show_missing = True
skip_covered = False

[html]
directory = test_reports/html
title = TraceR Python Coverage

[xml]
output = test_reports/coverage.xml
